.social-proof {
    width: 100%;
    padding: 10rem;
    color: var(--very-dark-magenta);
    display: flex;
    flex-direction: column;

    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;

    @include respond(mobile) {
        width: 100%;
        border: 1px solid red;
        padding: 10rem 3rem;
        text-align: center;
    }

    .section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6rem;

        @include respond(mobile) {
            flex-direction: column;
        }
    }

    .header-textbox {
        flex: 0 1 44.5rem;
        margin-right: auto;

        @include respond(mobile) {
            margin-right: 0;
            margin-bottom: 4rem;
        }
    }
}
